body {
    height: 100%;
    cursor: default;
}
#centerContainer {
    width: 20rem;
    height: 100%;
    margin: auto;
}
#cookieContainer {
    margin: 5rem 0;
    width: 20rem;
    height: 20rem;
    /*copied*/
    position: relative;
}
#cookie {
    display: block;
    margin: auto;
    height: 20rem;
    width: 20rem;
    transition: 0.1s;
    /*copied*/
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
#fieldContainer {
    width: 20rem;
    margin: auto;
    text-align: center;
    cursor: default;
}
#scoreField {
    font-size: 3rem;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}
#cpsField {
    margin-top: 1rem;
    font-size: 1rem;
    font-family: Nunito, Arial, Helvetica, sans-serif;
}
#cookieWarning {
    position: fixed;
    bottom: 1rem;
    width: 100%;
    font-family: Nunito, Arial, Helvetica, sans-serif;
    color: lightgrey;
    text-align: center;
}
#upgradeContainer {
    right: 3rem;
    top: 5rem;
    position: fixed;
    height: 100% - 5rem;
    width: auto;
    cursor: default;
}
.upgrade {
    height: 10rem;
    width: auto;
    margin-bottom: 2.5rem;
}
.upgradeIcon {
    float: left;
    height: 10rem;
    width: 8rem;
}
.upgradePrice {
    float: left;
    text-align: left;
    margin-left: 3rem;
    font-size: 2rem;
    padding: 4rem 0;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}
.upgradeImg {
    margin: 1rem 0;
    height: 8rem;
    width: 8rem;
    border-radius: 0.5rem;
}
.upgradeCount {
    display: none;
    text-align: center;
    width: 8rem;
    height: 2rem;
    font-size: 1.6rem;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}
/*animation*/
.upgrade:hover .upgradeCount {
    display: block;
}
.upgrade:hover .upgradeImg {
    margin: 0;
}
.upgrade:hover .upgradePrice {
    padding: 3rem 0 5rem 0;
}
#cookie:active {
    height: 18rem;
    width: 18rem;
}

/*temp*/
#testButton {
    height: 3rem;
    width: 3rem;
    border-radius: 1.5rem;
    background: rgb(255, 85, 62);
    z-index: 10;
    position: fixed;
    top: 1rem;
    left: 1rem;
}